user_uuid="052b9f63-9cc2-49c3-ae9e-594f27968e1f"
bucket_name="hjqttz84khxsgry4"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"